
[Desktop Entry]
Encoding=UTF-8
Name=cinch Builder
GenericName=System Backup
Exec=cinchBuilder-gtk
Icon=cinchBuilder-gtk
Terminal=false
Type=Application
Categories=System;Settings;
OnlyShowIn=KDE;
Name[en_US]=cinchBuilder
